/* src/components/Card.css */
.card-profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Ajuster la marge pour espacement */
  padding: 20px; /* Ajouter du padding pour l'intérieur de la carte */
  max-width: 300px; /* Limiter la largeur de la carte */
  width: 100%; /* Assurer que la carte utilise toute la largeur disponible */
  text-align: center; /* Centrer le contenu */
}

.card-profile-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu */
}

.card-profile-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

.card-profile-details {
  font-size: 1em;
  color: #666;
  margin: 5px 0; /* Ajouter un espace entre les détails */
}

.card-profile-actions {
  margin-top: 10px;
}

.card-profile-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-profile-button:hover {
  background-color: #0056b3;
}
